body {
  margin: 15px;
  font-size: 14px;
}

h1,
h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0px auto;
  padding: 0.7em;
  color: var(--title-grey);
  width: max-content;
}

h2 {
  margin: 0px;
  font-size: 18px;
  color: var(--dark-blue);
}

#stepper {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue);
  margin: 0px -15px 0px -15px;
}
.stepper-text {
  padding: 0.5em;
  font-size: 1.5em;
}
