
/** VARIABLES*/
/** si besoin : vert -> Element gratuit #29d991*/
:root {
 --red:  #c91b2a ;
 --rouge-icon: #ba2c2d;
 --rouge-subtitle: #fd7956;
 --dark-blue: #334488;
 --light-blue: #eff4fd;
 --medium-blue: #4a7bd8;
 --hover-blue: #829dc8;
 --white: #fff;
 /** fond input et lien nav mobile */
 --light-grey: #f4f6f8;
 --title-grey: #c3d0e4;
 --icon-grey: #ccd4e7;
 --dark-gray: #9ca4c5;
 /* séparateur**/
 --br-grey: #c3d0e4;
}

html {
 font-size: 13px;
 line-height: 1.2;
 font-weight: 400;
 font-family: GT Walsheim,sans-serif;
 letter-spacing: .5px;
 color: var(--dark-blue);
}


body {
    background-color: var(--white);
}
