
/** VARIABLES*/
/** si besoin : vert -> Element gratuit #29d991*/
:root {
 --red:  #c91b2a ;
 --rouge-icon: #ba2c2d;
 --rouge-subtitle: #fd7956;
 --dark-blue: #334488;
 --light-blue: #eff4fd;
 --medium-blue: #4a7bd8;
 --hover-blue: #829dc8;
 --white: #fff;
 /** fond input et lien nav mobile */
 --light-grey: #f4f6f8;
 --title-grey: #c3d0e4;
 --icon-grey: #ccd4e7;
 --dark-gray: #9ca4c5;
 /* séparateur**/
 --br-grey: #c3d0e4;
}


html {
 font-size: 13px;
 line-height: 1.2;
 font-weight: 400;
 font-family: GT Walsheim,sans-serif;
 letter-spacing: .5px;
 color: var(--dark-blue);
}

img {
 width: auto;
 height: 100%;
}
.bloc {
 padding: 0 15px;
}
/* Boutons  et liens */

.link {
 font-size: 1.2em;
 text-decoration: underline;
 color:var(--hover-blue);
}

.secondary-link {
 text-decoration: underline;
 color:var(--dark-blue);
}

.button {
 display: flex;
 text-decoration: none;
 font-size: 1.3em;
 justify-content: center;
 border: 1px solid var(--medium-blue);
 padding: .8em;
 text-transform: uppercase;
 background-color: var(--medium-blue);
 color: var(--white);
 width: 90%;
 margin: 1em auto;
}
.button:hover, .button:active {
box-shadow: 4px 4px 0 -2px #fff,4px 4px 0 0 var(--medium-blue);
}
body {
    background-color: var(--white);
}
/* Titres */

.title {
 font-size: 1.8em;
 font-weight: bold;
 margin: 0 auto;
 padding: .7em 0 .7em 0;
 color: var(--title-grey);
 width: max-content;
}

.subtitle {
 font-weight: bold;
 margin: 0;
 font-size: 1.4em;
 padding: .7em 0 .7em 0;
 color: var(--dark-blue);
 width: max-content;
}

/**stepper */
.container {
 display: flex;
 justify-content: center;
 background-color: var(--light-blue);
 margin: 0px -15px 0px -15px;
}

.stepper-text {
 padding: 0.5em;
 font-size: 1.5em;
}

/* Formulaires */
input:required:invalid {
 border: 1px solid var(--rouge-subtitle);
 box-shadow: none;
}

.smaller-text {
    font-size: 1em;
  }
  .large-text {
    font-size: 1.4em;
  }
  .bold {
    font-weight: bold;
  }
  .container {
    display: flex;
    justify-content: center;
    background-color: var(--light-blue);
    margin: 0px -15px 0px -15px;
  }
  
  .centered {
    display: flex;
    justify-content: center;
  }
  
  .separator {
    border: 1px solid var(--title-grey);
    margin: 15px -15px 15px -15px;
  }
  .notification {
    color: var(--rouge-subtitle);
  }


  /**styles perrine **/
  .reassurance {
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
  }
  
  #reassurance {
      margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  
  #img-reassurance {
    width: 10vh;
  }

  #notation {
      width: 15px
  }
  /* #star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: black;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid black;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }
  #star:before {
    border-bottom: 80px solid black;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  #star:after {
    position: absolute;
    display: block;
    color: black;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid black;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  } */




  /**end style perrine*/
  